.EHR {
    margin-left: 5px;
    color:blue;
    margin-right: 700px;
    margin-bottom: 700px;
    
    
}

.heading {
    color: darkgreen;
}


.Kreiraj {
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
    border-color: darkgreen;
}
.Preberi {
    margin-top: 15px;
    margin-left: 15px;
    border-color: darkgreen; 
}
